{% extends 'catalog/layout.html' %}

{% block title %}
    <title>каталог цветочных букетов</title>
{% endblock %}

{% block content %}
<section id="flower-catalog" class="mb-5">
{% csrf_token %}
{% if products %}
    <div class="row">
        {% for product in products %}
            <div class="col-md-4 mb-4">
                <div class="card h-100 search-card">
                    <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
                    <div class="card-body">
                        <h4 class="card-title">{{ product.name }}</h4>
                        <p class="card-text"><strong>Цена:</strong> {{ product.price }} руб.</p>
                        <button class="btn btn-primary" onclick="addToCart({{ product.id }}, this)">Добавить в корзину</button>
                       <div class="notification" style="display: none; background-color: #4CAF50; color: white; padding: 5px; border-radius: 5px; margin-top: 10px;">
                            Букет добавлен в корзину!
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <h4 class="text-center">Каталог букетов в процессе наполнения ...</h4>
{% endif %}

 </section>

<!--
<script>
    function toggleReviews(movieId, showReviews) {
      var reviewsDiv = document.getElementById('reviews-' + movieId);
      var viewButton = document.getElementById('view-btn-' + movieId);
      var hideButton = document.getElementById('hide-btn-' + movieId);

      if (showReviews) {
          reviewsDiv.style.display = 'block';
          viewButton.style.display = 'none';
          hideButton.style.display = 'inline';
      } else {
          reviewsDiv.style.display = 'none';
          viewButton.style.display = 'inline';
          hideButton.style.display = 'none';
      }
    }
</script>
-->

<script>

    function addToCart(bouquetId, buttonElement) {
        fetch(`/add_to_cart/${bouquetId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => {
            if (response.ok) {
                // Показать уведомление рядом с кнопкой
                var notification = buttonElement.nextElementSibling;
                notification.style.display = 'block';

                // Скрыть уведомление через 1 секунды
                setTimeout(function() {
                    notification.style.display = 'none';
                }, 1000);
            }
        })
        .catch(error => console.error('Ошибка:', error));
    }

    document.getElementById('searchInput').addEventListener('input', filterCards);

    function filterCards() {
        var input = document.getElementById('searchInput');
        var filter = input.value.toLowerCase();
        var cards = document.getElementsByClassName('search-card');

        for (var i = 0; i < cards.length; i++) {
            var card = cards[i];
            var titleElement = card.querySelector('.card-title');
            var title = titleElement.textContent.toLowerCase();

            if (title.includes(filter)) {
                card.style.display = '';
                highlightMatch(titleElement, filter);
            } else {
                card.style.display = 'none';
                removeHighlight(titleElement);
            }
        }
    }

    function highlightMatch(element, filter) {
        var text = element.textContent;
        var regex = new RegExp(`(${filter})`, 'gi');
        element.innerHTML = text.replace(regex, '<span style="background-color: yellow;">$1</span>');
    }

    function removeHighlight(element) {
        element.innerHTML = element.textContent; // Убираем HTML-теги подсветки
    }
</script>

{% endblock %}
